<% feeds.each(function (feed) { %>
  <a href="#/feeds/<%= feed.id %>"><%= feed.escape("title") %></a>
  <button class="delete"
          data-id="<%= feed.id %>">Delete</button>
  <br>
<% }); %>
<a href="#/feeds/new">New Feed</a>
